<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lolicons</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body style="height: 100vh" class="d-flex justify-content-center align-items-center">
  <form class="border p-2"  action="/items/add_item" method="post">
    <div class="form-floating m-1">
      <input type="number" name="item_id" id="item_id" class="form-control" required disabled value=<%= item_id %>>
      <label for="item_id">Item ID</label>
    </div>
    <div class="form-floating m-1">
      <input type="text" name="item_name" id="item_name" required class="form-control">
      <label for="item_name">Item Name</label>
    </div>
    <div class="form-floating m-1">
      <textarea class="form-control" name="item_desc" id="item_desc" placeholder="The Item's Description"></textarea>
      <label for="item_desc">Item Description</label>
    </div>
    <div class="form-floating m-1">
      <input type="number" name="item_price" id="item_price" required class="form-control">
      <label for="item_price">Item Price</label>
    </div>
    <div class="form-floating m-1">
      <input type="number" name="item_quantity" id="item_quantity" required class="form-control">
      <label for="item_quantity">Item Quantity</label>
    </div>
    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-block btn-outline-success">Register</button>
    </div>
  </form>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>